---
const real_url = "https://coffee-rec-service.onrender.com/get_features"
const temp_url = "http://127.0.0.1:5000/get_features"
const response = await fetch(temp_url);
const data = await response.json();
const data_sp = data.replaceAll("[", "").replaceAll("]", "").replaceAll("'", "").split(",")
console.log(data.text)
// const randomUser = data.results[0];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coffee Recommender Service</title>
		<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
    rel="stylesheet"
/>
<link
    rel="stylesheet"
    href="https://unpkg.com/@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.css"
/>
<script
    type="module"
    src="https://unpkg.com/@astrouxds/astro-web-components/dist/astro-web-components/astro-web-components.esm.js"
></script>
	</head>
	<body>
		<h1>Welcome to Coffee Recommender Service</h1>
		<!-- <p>{JSON.stringify(data)}</p> -->
		{data_sp.forEach(element => {
			<p>{element}</p>
		}) }
		<rux-checkbox-group name="checkboxes" label="Checkbox group" required="">
		{data_sp.forEach(element => {
			<p>{element}</p>
			<rux-checkbox value="one" name="checkboxes">element</rux-checkbox>
		}) }
		</rux-checkbox-group>
		<!-- <p>{JSON.stringify(response)}</p>
		<p>{JSON.stringify(data)}</p> -->
		
			
			<!-- <rux-checkbox value="two" name="checkboxes">Two</rux-checkbox>
			<rux-checkbox value="three" name="checkboxes">Three</rux-checkbox> -->
		
	</body>
</html>
