---
const real_url = "https://coffee-rec-service.onrender.com/get_features"
const temp_url = "http://127.0.0.1:5000/get_features"
const response = await fetch(temp_url);
const data = await response.json();
console.log(data.text)
// const randomUser = data.results[0];
---

import { RuxCheckbox } from '@astrouxds/astro-web-components/dist/components/rux-checkbox.js';
import { RuxCheckboxGroup } from '@astrouxds/astro-web-components/dist/components/rux-checkbox-group.js';
customElements.define('rux-checkbox', RuxCheckbox)
customElements.define('rux-checkbox-group', RuxCheckboxGroup)

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Coffee Recommender Service</title>
	</head>
	<body>
		<h1>Welcome to Coffee Recommender Service</h1>
		<!-- <p>{JSON.stringify(data)}</p> -->
		<p>{data}</p>
		<!-- <p>{JSON.stringify(response)}</p>
		<p>{JSON.stringify(data)}</p> -->
		<rux-checkbox-group name="checkboxes" label="Checkbox group" required="">
			<rux-checkbox value="one" name="checkboxes">One</rux-checkbox>
			<rux-checkbox value="two" name="checkboxes">Two</rux-checkbox>
			<rux-checkbox value="three" name="checkboxes">Three</rux-checkbox>
		</rux-checkbox-group>
	</body>
</html>
